<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> <%= htmlWebpackPlugin.options.title %> </title>
    <meta name="viewport" content="width=device-width,initial- scale=1"> 
</head>
<body>
<h3>Task manager </h3>
<div id="app"></div>
<script type="text/javascript" src="main.js"></script>
</html